@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-6 py-3 font-semibold transition;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:opacity-90;
  }
  
  .btn-secondary {
    @apply bg-white border border-primary text-primary hover:bg-primary hover:text-white;
  }
  
  .btn-outline {
    @apply border border-black bg-white text-black hover:bg-black hover:text-white;
  }
}
